

/* 
 .center {
    text-align: center;
  }
  
  .quizbtnL {
    float: left;
    border-radius: 30px !important;
    width: 365px;
    height: 400px;
    background-color: white !important;
    border: none !important;
    text-align: center;
    padding-top:120px !important;
    font-size: 17px !important;
    font-family: CircularStd;
    padding: 15px 32px;
    white-space: normal !important;
    background-image:url('../../images/quizbg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;

  }

  
  .quizbtnR {
    float: right;
    border-radius: 30px !important;
    width: 365px;
    height: 400px;
    background-color: white !important;
    border: none !important;
    text-align: center;
    padding-top:120px !important;
    font-size: 17px !important;
    font-family: CircularStd;
    padding: 15px 32px;
    white-space: normal !important;
    background-image:url('../../images/quizbg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;

  }


  
  .quizbtnR:hover { 
    color: #ed185b !important;
}


.quizbtnL:hover { 
    color: #ed185b !important;
}


.wrapper {
    width: 80%;
    height: 500px;
    text-align: center;
    position: relative;
    top:70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


} */


.center {
    text-align: center;
}
.wrapper .text-form {
    width: 100%;
    text-align: center !important;
    font-family: CircularStd;
    min-height: 450px;
}
.quizbtnL {
    width: 420px;
    height: 420px;
    background-color: white !important;
    border: none !important;
    font-size: 18px !important;
    color: black !important;
    padding: 80px 50px 0px 50px !important;
    white-space: normal !important;
     background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;

}
.quizbtnR {
    margin-top: 30px;
    width: 420px;
    height: 420px;
    background-color: white !important;
    border: none !important;
    font-size: 18px !important;
    color: black !important;
    padding: 80px 50px 0px 50px !important;
    white-space: normal !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;
    margin-left: 10px;
    margin-right: 10px;

}


/*  */
/* 
#blue {background-color: #3fb9f5}
#green {background-color: #12b1aa}
#purple {background-color: #8e7cc3}
#pink {background-color: #e361a6}
#red {background-color: #e06666}
#orange {background-color: #e69138}
#yellow {background-color: #f1c232} */

.bgBlue{
    background-image:url('../../images/bgBlue.png') !important;
    background-size: 88% 420px !important;
}

.bgGreen{
    background-image:url('../../images/bgGreen.png') !important;
    background-size: 88% 420px !important;
}
.bgPurple{
    background-image:url('../../images/bgPurple.png') !important;
    background-size: 88% 420px !important;
}

.bgPink{
    background-image:url('../../images/bgPink.png') !important;
    background-size: 88% 420px !important;
}
.bgRed{
    background-image:url('../../images/bgRed.png') !important;
    background-size: 88% 420px !important;
}

.bgOrange{
    background-image:url('../../images/bgOrange.png') !important;
    background-size: 88% 420px !important;
}

.bgYellow{
    background-image:url('../../images/bgYellow.png') !important;
    background-size: 88% 420px !important;
}

/* ------------ end bachground images ------------ */


.quizbtnR:hover, .quizbtnL:hover { 
    color: #3061ac !important;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none !important;
}
/* if adding styles for mobile, put them here */
@media only screen and (max-width: 766px) {
    
}


/*  progress bar */
.progressBarDiv{
text-align: center !important;
}

.center{
    display: inline-block;
    width: 40%;
 
}

.colorBar{
    color: #3061ac !important;
 }

 .progress-bar-purple {
    background-color: purple !important;
}