/* .center{
    text-align: center;

}

.quizbtnL{
    float:left;
    width: 40%;
    height: 400px;
    text-align: center;
    padding: 15px 32px;
    white-space: normal !important;

}

.quizbtnR{
    float:right;
    width: 40%;
    height: 400px;
    text-align: center;
    padding: 15px 32px;
    white-space: normal !important;


}

 */
 


 .center {
    text-align: center;
  }
  
  .quizbtnL {
    float: left;
    border-radius: 30px !important;
    width: 365px;
    height: 400px;
    background-color: white !important;
    border: none !important;
    text-align: center;
    padding-top:120px !important;
    font-size: 17px !important;
    font-family: CircularStd;
    padding: 15px 32px;
    white-space: normal !important;
    background-image:url('../../images/quizbg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;

  }

  
  .quizbtnR {
    float: right;
    border-radius: 30px !important;
    width: 365px;
    height: 400px;
    background-color: white !important;
    border: none !important;
    text-align: center;
    padding-top:120px !important;
    font-size: 17px !important;
    font-family: CircularStd;
    padding: 15px 32px;
    white-space: normal !important;
    background-image:url('../../images/quizbg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 365px 420px !important;

  }


  
  .quizbtnR:hover { 
    color: #ed185b !important;
}


.quizbtnL:hover { 
    color: #ed185b !important;
}


.wrapper {
    width: 80%;
    height: 500px;
    text-align: center;
    position: relative;
    top:70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


}