@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Lato);


.WhyCSLogo {
   text-align: left;
  width: 40%;
  height: auto;
  

}
.footerBar {
  /* position: relative;
  left: 0;
  bottom: 0;
  width: 100%;  */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; 
  /* text-align:center !important; */
}

.footerText {
     font-size: 12px;
    color: #3061ac !important;
    font-family: 'Lato', sans-serif;
     margin: 0 10px;
     text-align: center;

    }

 
    .logo-left{
      float: left;
      font-size: 80%;
      color: #3061ac !important;
      font-family: 'Lato', sans-serif;
       /* margin:100px 5px 0px 25px ; */
      margin: 2% 0% 0% 18% ;
      }
      
    .logo-right{
      float: right;
           margin: 0% 15% 0% 0% ;

    }

    .logo {
      padding-top: 5px;
      padding-left: 5px;
      
    }
    .logo::after {
      content: '';
      clear: both;
      display: table;
    } 


    @media only screen and (max-width: 320px) { 
      .logo-left{
        float: left;
        font-size: 80%;
        color: #3061ac !important;
        font-family: 'Lato', sans-serif;
         /* margin:100px 5px 0px 25px ; */
        margin: 2% 0% 0% 15% ;
        }
        
      .logo-right{
        float: right;
             margin: 0% 10% 0% 0% ;
  
      }
    }